.App {
  text-align: center;
  }
  .wide-screen-label-cell {
    display: none;
    width:100%;
    text-align: left;
  }
  .mobile-screen-label-cell label {
    font-size: 13px;
    font-weight: bold;
  }
  @media only screen and (min-width: 600px) {
    .wide-screen-label-cell {
      display: block;
      width:100%;
    }
    .mobile-screen-label-cell label {
      display: none;
      width:100%;
    }
  }
  .App-navbar-a-.nav-item-.nav-link{
    margin:left 3px, bottom 2px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  